* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-color: #083B4C;
}

h1 {
    font-size: 6rem;
}

.chess-container {
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.chess-square {
    margin: 1rem;
    aspect-ratio: 1/1;
    width: calc(100% / 10);
}

.fizz.chess-square {
    background-color: #0CD6A1;
  }

.buzz.chess-square {
    background-color: #FFD166;
  }

.fizzbuzz.chess-square {
    background-color: #F0466F;
  }

.number.chess-square {
    background-color: #1289B2;
  }